<h1>New Place</h1>

<% if @current_user %>
  <div class="mb-3">
    <%= form_with :model => @place do |form| %>
      <%= form.label "name" %>
      <%= form.text_field "name" %>
  </div>
  <div class="mb-3">
    <%= form.submit "Add New Place", class: "btn btn-primary"%>
  </div>
    <% end %>
<% else %>
  You must <a href="/sessions/new">Login</a> to post.
<% end %>